### Example .env file for configuring the model provider and API key. Uncomment the relevant section based on the model provider you want to use.

### For local Ollama

# MODEL_PROVIDER=ollama
# MODEL_NAME=qwen3:8b
# MODEL_BASE_URL=http://localhost:11434/v1
# MODEL_API_KEY=ollama

# EMBEDDING_PROVIDER=ollama
# EMBEDDING_MODEL=nomic-embed-text
# EMBEDDING_BASE_URL=http://localhost:11434
# EMBEDDING_API_KEY=ollama


### For Hugging Face

# MODEL_PROVIDER=huggingface
# MODEL_NAME=some-supported-model
# MODEL_BASE_URL=https://router.huggingface.co/v1
# MODEL_API_KEY=hf_xxxxxxxxx

# EMBEDDING_PROVIDER=openai
# EMBEDDING_MODEL=text-embedding-3-small
# EMBEDDING_BASE_URL=https://api.openai.com/v1
# EMBEDDING_API_KEY=sk-xxxxx


### For OpenAI

# MODEL_PROVIDER=openai
# MODEL_NAME=gpt-4.1
# MODEL_BASE_URL=https://api.openai.com/v1
# MODEL_API_KEY=sk-xxxxxxxx

# EMBEDDING_PROVIDER=huggingface
# EMBEDDING_MODEL=BAAI/bge-small-en-v1.5




# LLM_SUPPORTS_STRUCTURED_OUTPUT=true
# LLM_SUPPORTS_TOOL_CALLING=true



# LANGSMITH_TRACING=true
# LANGSMITH_ENDPOINT=https://api.smith.langchain.com
# LANGSMITH_API_KEY=<YOUR_LANGSMITH_API_KEY>
# LANGSMITH_PROJECT=<YOUR_PROJECT_ID>